.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 25px;
    
  }
  .center {
    height: 30%;
    width: 100%;
  }
  .centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
color: blue;
font-style: italic;
border-radius: 25px;
  }
  img {
    opacity: 0.5;
    border-radius: 25px;
  }
  .venue{
    border-radius: 15px;
    font-family: fantasy;
    width: max-content;
    font-size: xx-large;
    text-align: center;
    position: relative;
    left: 70px;
    border: 3px ;
  }
   .details {
       font-style: italic;
       font-family: "sofia";
       font-size: xx-large;
       text-align: center;
       color: blueviolet;

}
.invitation{
    font-style: italic;
       font-family: 'Times New Roman', Times, serif;
       font-size: xx-large;
       text-align: center;
       color: dimgrey;

}
.contact{
    font-style: italic;
       font-family: 'Times New Roman', Times, serif;
       font-size: xx-large;
       text-align: left;
       color: darkmagenta;
       left: 100px;


}
.happy{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-shadow: darkslategray;
    color: deeppink;
}
@viewport{
  width:extend-to-zoom;
  zoom: 1.0;
}
@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
} 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
  